
html {
  scroll-behavior: smooth;
}

.navbar.navbar-expand.navbar-dark.bg-info{
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.brand-title{
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: black;

}
.nav-link.text{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 16px;
  color: black;
}

.nav-link.text:hover{
  background-color: #5BC0DE;
  color: white;
  border-radius: 5px;
}

.carousel-inner{
  width:100%;
  max-height: 800px !important;
}

.carousel-title{
  font-family: 'Bellota', cursive;
}

.contact-title{
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.aboutUs-title{
  font-family: 'Bellota', cursive;
  color: rgba(55, 96, 146);
}

.aboutUs-subTitle{
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: orange;
}

.span-title{
  color: rgba(142, 180, 227);
  font-weight: bold;
}
.span-importan{
  color:orange;
  font-weight: bold;
}

.eslogan-title{
  font-family: 'Bellota', cursive;
}

.jumbotron-title{
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: rgba(55, 96, 146);
}

.jumbotron-parrafo{
  font-family: 'Bellota', cursive;
  color: rgba(142, 180, 227);
  font-weight: bold;
}

.projecEducation-title{
  font-family: 'Bellota', cursive;
  color: rgba(55, 96, 146);
}

.projecEducation-subTitle{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 30px !important;
}

.nivelOrGroups-title{
  font-family: 'Bellota', cursive;
  color: rgba(55, 96, 146);
}

.middle{
  transition: 1s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.inner{
  overflow: hidden;
}

.inner img{
  transition: all 1.5s ease;
}


.contenedor-img:hover .img-nivel{
  opacity: 0.3;
  transform: scale(1.5);

}

.contenedor-img:hover .middle{
  opacity: 1;
}

.img-title{
  color: black;
  font-family: 'Bellota', cursive;
}

.img-subTitle{
  color: black;
  font-family: 'Bellota', cursive;
}

.footer-title{
  font-family: 'Bellota', cursive;
}

.footer-parrafo{
  font-size: 18x;
}
